<!-- Close Top Nav -->
<!-- Header -->

<!-- Close Header -->
<!-- Modal -->
<div class="modal fade bg-dark" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="template-mo-jassa-hero-carousel" class="carousel slide bg-dark" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height:700px;width:100%;">
        <div class="carousel-item active"
            style="background: rgba(0, 0, 0, 0.7) url('assets/bakg.jpg');background-blend-mode: darken; background-size: cover;height:780px">
            <div class="container" style="margin-top:auto; text-align:center;padding:auto; ">
                <div class="center">
                    <div class=" mb-0 align-items-center" style="margin-top:10% ;padding: 5%;">
                        <div class="text-align-left align-self-center">
                            <img src="assets/immoLogo.png" alt="" width="300px" style="border-radius: 50%;">
                            <p>
                                Whether you are looking to rent, buy or sell your home, REMS directory of local real
                                estate agents connects you with professionals who can help meet your needs.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item"
            style="background:rgba(0, 0, 0, 0.7) url('assets/bkg2.jpg');background-blend-mode: darken; background-size: cover;height:780px">
            <div class="container text-center">
                <div class="m-auto">
                    <div class=" mb-0  align-items-center" style="margin-top:20% ;">
                        <div class="text-align-left">
                            <h3 class="h2">REMS is open to help you obtain your real estate</h3>
                            <p>
                                Because the real estate market is unique, it's important to choose a real estate agent
                                with local expertise to guide you through the process of renting, buying or selling your
                                next home
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item"
            style="background:rgba(0, 0, 0, 0.7) url('assets/bakg3.jpeg');background-blend-mode: darken; background-size: cover;height:750px">
            <div class="container text-center">
                <div class="m-auto">
                    <div class=" mb-0 align-items-center" style="margin-top:20% ;">
                        <div class="text-align-left">
                            <h3 class="h2">Find your future home now</h3>
                            <p>
                                REMS is the leading real estate and rental marketplace dedicated to empowering
                                consumers with data, inspiration and
                                knowledge around the place they call home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container-fill py-5 bg-dark">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h3 class="h1">REMS SERVICES</h3>
            <p>
                The primary service of real estate agents is to help their clients with the complicated process of
                buying or selling homes. They mainly act as a mediator between the buyer and seller. However, a licensed
                real estate agent often provides many other services.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-6 col-md-4 p-5 mt-3">
            <a href="#"><img src="" class="rounded-circle img-fluid border">Property Staging</a>
            <h5 class="text-center mt-3 mb-3">Selling a property quickly and at a higher price often requires staging
                the property. This can make your home more aesthetically and visually appealing. Prospective buyers will
                feel welcome, can easily picture living there, and entertaining friends and family. Some real estate
                agents offer these services for free, while some may charge extra. Often times the agent will stage the
                property themselves. If it’s not possible for them to do it on their own, they will hire a professional
                property staging company. </h5>
            <p class="text-center"><a class="btn btn-success">learn more</a></p>
        </div>
        <div class="col-sm-6 col-md-4 p-5 mt-3">
            <a href="#"><img src="" class="rounded-circle img-fluid border">Selling Real Estate </a>
            <h5 class="h5 text-center mt-3 mb-3">When selling a property, hiring an experienced real estate agent is
                critical. It is particularly important for first time sellers. Many agents hold open houses to generate
                additional interest in a property and make it easy for prospective buyers to stop by. Weekends are prime
                time for an open house. Good agents get feedback on your home after an open house using a broker open
                house questionnaire. The feedback sometimes reveals issues with the property or price you may not be
                aware of. Passing this feedback along to the seller can be more accurate when it is formally documented
                in a questionnaire versus trying to relay a conversation with the buyer’s agent</h5>
            <p class="text-center"><a class="btn btn-success">learn more</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="" class="rounded-circle img-fluid border">Buying Real Estate </a>
            <h5 class="h5 text-center mt-3 mb-3">The real estate agents are not only efficient in selling; they are
                equally skilled helping their clients find the right home. Purchasing property is complicated
                particularly for first-time buyers. Small mistakes can be costly. If you are moving from out of town,
                you need to hire an agent with local expertise to help you identify the best neighborhood for you. They
                are also skilled at negotiating and can ensure you to find a property that meets all your requirements
                with the lowest price possible. The seller typically pays the buyer’s commission as well so there is no
                reason to not use an agent.</h5>
            <p class="text-center"><a class="btn btn-success">Learn more</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="" class="rounded-circle img-fluid border">Rental and Investment Properties
            </a>
            <h5 class="h5 text-center mt-3 mb-3">A number of real estates agents are rental property owners. If you want
                to buy an investment property to rent out, they can help with this type of transaction as well. Managing
                a property once you own it is important. Many real estate agents will be able to point you to a good
                property management firm if their company does not do that too.</h5>
            <p class="text-center"><a class="btn btn-success">Learn more</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="" class="rounded-circle img-fluid border">New Construction </a>
            <h5 class="h5 text-center mt-3 mb-3">Many real estate investors hire agents when they want to build a house.
                Agents can help them locate lots for sale. They can also help identify homes that are candidates to tear
                down and start over with new construction. Agents are deadline-oriented and realistic and can help you
                establish a timeline for your project. </h5>
            <p class="text-center"><a class="btn btn-success">Learn more</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-dark">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Estates</h1>
                <p>
                    Explore your home loan options
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/bakg.jpg"
                            class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">240,000,000/Month</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Property for Rent</a>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/bkg2.jpg"
                            class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">480,000,000 FCFA</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Property for sale</a>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="assets/bakg3.jpeg"
                            class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">760,000,000 FCFA</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Property for sale</a>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>